
.topnav { 
background-color: #eca12f;
padding: 1px 2px;
}

li{ 
  float: none;
  display: inline;
  list-style-type: none;
    padding: 5px;  
}
a:hover{
  background-color: black;
}
img{
    width:  1339px;
    height: 400px;
    object-fit: cover;
}

}
.body {
    text-decoration-color: black;
}

.box1 {
    width:  10px;
    height: 20px;
    object-fit: cover;
}


body{
  margin: 0;  
}
  
  
  
  .main-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box{
    width: 200px;
    height: 200px;
    margin: 50px;
    text-align: center;
    padding: 40px 20px;
    color: #000000;
    position: relative;
    z-index: 2;
    border-radius: 5px;
  }
  
  
  .box .icon{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    position: relative;
  }

  
  .box .icon .fas{
    color: #404044;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .box a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    background-color:#eca12f ;
    padding: 10px 25px;
    border-radius: 25px;
    margin-top: 25px;
    display: inline-block;
    font-weight: 600 ;
  }
  .box a:hover{
    background-color:#243238 ;
  }
  
  .box .white-border{
    border: 1px solid #ffffff;
  }
  
  
  .box-grey{
    background-color:#eca12f ;
  }
  
  .box-red{
    background-color:#eca12f;
  }